/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

BG COLORS

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_bg-colors.scss
*/
/*
************************
|| GENERAL
*/
body {
  background-size: cover;
  background-blend-mode: overlay;
  background-position: top center;
  background-repeat: no-repeat;
}

body,
.main-content,
.course-item,
.course-footer,
.lesson-progress .progress,
.chart-holder,
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: var(--primary-color-min);
}

/*
************************
*   || MIN
*/
input[type=text], input[type=email], input[type=password] {
  background-color: var(--primary-color-min);
}

/*
************************
*   || XXS
*/
.bundle,
.dropdown-label,
.progress,
.profile-cover .profile-box,
.activity-feed {
  background-color: var(--primary-color-xxs);
  color: var(--topbar-secondary-color-bright);
}

.row.lesson-form-row section {
  background-color: var(--primary-color-xxs) !important;
}

/*
************************
*   || XS
*/
.ui-layout-center,
.outline-sidebar,
.dashboard-footer,
.lesson-card,
.dropdown-menu .divider,
ul.file-list.outline-list li.folder,
.lesson-item.selected,
.admin-link-row {
  background-color: var(--primary-color-xs);
}

/*
************************
*   || S
*/
.bundle-label,
.notes-holder .bookmarked-card,
.course-nav,
.launch-checklist,
.admin-link-row .link-label,
#lesson-author,
.handle,
.list-toggle,
.mentor-tabs, .photo-tabs {
  background-color: var(--primary-color-s);
  color: var(--text-color);
}

/*
************************
*   || M
*/
/*
************************
*   || Basic
*/
.settings-list .table-responsive {
  background-color: var(--primary-color);
}

.course-nav .dropdown-toggle.preview-link,
.outline-header,
#courseSwitch .preview-link,
#courseSwitch .dropdown-menu,
#lessonOptions .dropdown-menu {
  background-color: var(--primary-color-m);
  color: var(--text-color-bright);
}

#courseViews.dropdown.open .dropdown-toggle,
#courseViews .dropdown-menu {
  background-color: var(--primary-color-m);
}

/*
************************
*   || L
*/
.fuzzy-search, .search {
  background-color: var(--primary-color-l);
}

.draft-badge {
  background-color: var(--accent-color-darker);
}

/* TODO - IMPORTED FROM BASE */
input, textarea, select,
.student-search input[type=text],
.font-select > span,
.form-control {
  background-color: var(--form-fields-color);
  color: var(--global-font-primary-color);
  border-color: transparent;
}

/* ********************************************
*  || TOPBAR
*  ********************************************
*/
/* TODO - IMPORTED FROM BASE */
.login .dropdown-menu {
  background-color: var(--topbar-secondary-color);
}

.login .icon-bar {
  background-color: var(--topbar-text-color-bright);
}

/* ********************************************
*  || SIDEBAR
*  ********************************************
*/
/*
************************
*   || COLOR BRIGHT
*/
.sidebar-tabs,
.sidebar-tabs.nav > li > a:focus,
.ui-layout-west,
.ui-layout-west .start-text, .ui-mobile-sidebar .start-text,
.notes-holder .bookmarked-card,
.bookmarked-card {
  background-color: var(--sidebar-color-bright);
}

/*
************************
*   || COLOR
*/
.courses-back,
.float-pane,
.float-pane .close-pane,
.sidebar-tabs.nav-tabs > li.active > a,
.sidebar-tabs li a:hover,
.course-label {
  background-color: var(--sidebar-color);
  color: var(--sidebar-text-color-min);
}

/*
************************
*   || COLOR DARK
*/
/*
************************
*   || TRANSPARENT
*/
.breadcrumb,
.course,
.lessson-card,
.lesson-container,
.card-edit-link,
#courseViews li a, #courseViews li button,
.dropdown-menu .preview-link:hover,
.lesson-item,
.course-navigation a:hover,
.module-item,
.sidebar li.folder > a:hover,
.sidebar .file-list li ul li.selected,
.files-pane .module-item h3,
.file-list li ul li:hover {
  background-color: transparent;
}

.sidebar li a .draft-badge {
  background-color: var(--accent-color-darker);
}

/* ***************************************************
*   Imported from BASE.SCSS
* *******************************************************
*/
html,
body,
.login .dropdown-menu,
pre,
.ui-layout-west,
.ui-mobile-sidebar {
  background-color: var(--aa-global-color-primary);
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

BORDERS

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_borders.scss
*/
input:focus, textarea:focus,
.student-search input[type=text]:focus {
  border-color: var(--aa-global-color-secondary) !important;
}

.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-color: var(--aa-global-color-secondary);
}

.btn:focus {
  outline: thin dotted;
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

DEFINE MIXINS

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_mixins.scss
*/
/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

SCROLLBARS

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_scrollbars.scss
*/
body::-webkit-scrollbar,
.ui-layout-center::-webkit-scrollbar,
input::-webkit-scrollbar, textarea::-webkit-scrollbar, iframe::-webkit-scrollbar,
.admin-link-row::-webkit-scrollbar,
.scroll-pane::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  border-left: 1px solid var(--aa-global-color-primary);
  border-right: 1px solid var(--aa-global-color-primary);
  border-color: var(--aa-global-color-primary);
}
body::-webkit-scrollbar-thumb,
.ui-layout-center::-webkit-scrollbar-thumb,
input::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb, iframe::-webkit-scrollbar-thumb,
.admin-link-row::-webkit-scrollbar-thumb,
.scroll-pane::-webkit-scrollbar-thumb {
  background-color: var(--aa-global-color-secondary);
}
body::-webkit-scrollbar-track, body::-webkit-resizer,
.ui-layout-center::-webkit-scrollbar-track,
.ui-layout-center::-webkit-resizer,
input::-webkit-scrollbar-track,
input::-webkit-resizer, textarea::-webkit-scrollbar-track, textarea::-webkit-resizer, iframe::-webkit-scrollbar-track, iframe::-webkit-resizer,
.admin-link-row::-webkit-scrollbar-track,
.admin-link-row::-webkit-resizer,
.scroll-pane::-webkit-scrollbar-track,
.scroll-pane::-webkit-resizer {
  background-color: var(--aa-global-color-primary);
}
body,
.ui-layout-center,
input, textarea, iframe,
.admin-link-row,
.scroll-pane {
  scrollbar-face-color: var(--aa-global-color-secondary);
  scrollbar-track-color: var(--aa-global-color-primary);
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*TEXT COLORS

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_text-colors.scss
*/
/* *************************
*   GENERAL
*/
body,
p,
h1, h2, h3, h4, h5, h6,
.lesson h1, .lesson h2, .lesson h3, .lesson h4, .lesson h5, .lesson h6, .lesson p, .lesson blockquote,
.course h1, .course h2, .course h3, .course h4, .course h5, .course h6, .course p, .course blockquote,
.course-item h1, .course-item h2, .course-item h3, .course-item h4, .course-item h5, .course-item h6, .course-item p, .course-item blockquote,
.bundle h1, .bundle h2, .bundle h3, .bundle h4, .bundle h5, .bundle h6, .bundle p, .bundle blockquote,
h1.message-header,
input, button, select, textarea,
.lesson-form textarea,
.font-select > span,
::placeholder,
pre,
.lesson-header .lesson-title,
.lesson h1,
.course .module-item h1, .bundle .module-item h1,
.course .module-item h2, .bundle .module-item h2,
.course .module-item h3, .bundle .module-item h3,
.sec-btn {
  color: var(--text-color);
}

hr {
  border-color: var(--aa-global-color-secondary);
}

/* *************************
*   LINKS
*/
a, .lesson a, .course a {
  color: var(--global-links-color);
}

a:hover, .lesson a:hover, .course a:hover {
  color: var(--global-links-hover-color);
}

.bill-info, .bill-info p {
  color: var(--global-links-color-secondary);
}

/* *******************
*   GENERAL
*/
.course-item .product-price,
.save-btn,
.course .module-item h3, .bundle .module-item h3,
.lesson-list-head,
.lesson-item a,
#courseViews li a, #courseViews li button,
.lesson-stats i,
.breadcrumb li,
.list-toggle {
  color: var(--text-color-bright);
}

body,
.breadcrumb li a,
.breadcrumb li:nth-of-type(2) a,
.course-description,
.lesson-header .author,
.lesson-card a h2,
.dropdown-menu .preview-link:hover,
.ui-layout-west,
.row.stats-top-row p,
.row.stats-top-row p strong,
#courseSwitch .dropdown-menu li a,
.outline-list h4,
ul.file-list li,
.options-dropdown,
#lessonOptions i {
  color: var(--text-color);
}

.course-edit-outline .folder-toggle,
.module-item h3 a {
  color: var(--text-color-dark);
}

/* *******************
*   TOPBAR
*/
.second-nav li a,
.profile-link,
.login .icon-bar,
.login .dropdown-toggle {
  color: var(--topbar-text-color);
}

.dropdown-menu > li > a,
#courseViews li i {
  color: var(--topbar-text-color-bright);
}

/* *******************
*   SIDEBAR
*/
.sidebar li a,
.notes-holder .bookmarked-card,
.float-pane h3 i,
.bookmarked-card h6 i,
.float-pane .close-pane {
  color: var(--sidebar-text-color-bright);
}

.sidebar.active-course li a,
.sidebar.active-course .folder-toggle,
.sidebar .file-list li i, .sidebar .file-list p i,
.sidebar-tabs li a i,
.files-pane strong,
.float-pane h3 {
  color: var(--sidebar-text-color);
}

.files-pane .module-item h3,
.sidebar ul > li > a:hover,
.sidebar-tabs li a:hover,
.admin-link-row .link-label {
  color: var(--sidebar-text-color-dark);
}

.sidebar ul > li > a:hover i {
  color: var(--sidebar-text-color-dark) !important;
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

TYPOGRAPHY

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_typography.scss
*/
body, p {
  font-family: var(--global-font-primary-family);
  font-size: var(--global-font-size);
  line-height: var(--global-line-height);
  font-weight: var(--global-font-primary-weight);
}

.lesson h1, .lesson h2, .lesson h3, .lesson h4, .lesson h5, .lesson h6,
.course h1, .course h2, .course h3, .course h4, .course h5, .course h6,
.course-item h1, .course-item h2, .course-item h3, .course-item h4, .course-item h5, .course-item h6,
.bundle h1, .bundle h2, .bundle h3, .bundle h4, .bundle h5, .bundle h6,
h1.message-header {
  font-family: var(--global-font-secondary-family);
}

.lesson, .lesson p,
.course, .course p,
.lesson article {
  font-family: var(--global-font-text-family);
  font-size: var(--global-font-size);
  font-weight: var(--global-font-text-weight);
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

BASE - Base elements

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_base.scss
*/
/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

THEME CONSTRUCTOR

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_theme_constructor.scss
*/
/* ------------------- Do NOT Edit ------------------- */
/* ------------------- Do NOT Edit ------------------- */
/* ------------------- Do NOT Edit ------------------- */
/* Get/Set Theme Default */
/* Imports */
/* Theme defaults */
/* -------- Start Editing BELOW this line --------*/
/* -------- Start Editing BELOW this line --------*/
/* -------- Start Editing BELOW this line --------*/
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

THEME CONSTRUCTOR - STYLESHEET

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_index.scss
*/
/*
// ***********
// PARTS
// ***********
@use 'parts/_footer';
@use 'parts/_header' as pt_header;
@use 'parts/_main';
@use 'parts/_sidebar';

// ***********
// PAGES
// ***********
@use 'pages/_admin';
@use 'pages/_all-courses';
@use 'pages/_bundle';
@use 'pages/_checkout';
@use 'pages/_conversations';
@use 'pages/_course';
@use 'pages/_landing';
@use 'pages/_course-edit';
// @use 'pages/_lessons';
@use 'pages/_login';
@use 'pages/_messageboards';
@use 'pages/_messages';
@use 'pages/_notifications';
@use 'pages/_preview';
@use 'pages/_profile-edit';
@use 'pages/_profile';
@use 'pages/_projects';
@use 'pages/_users';
// @use 'pages/_profile-edit';
// @use 'pages/_admin';
*/
/* Setup Theme Variables */
:root {
  /* *******************
  COLORS
  ******************** */
  --aa-global-color-primary: #FFF;
  --aa-global-color-secondary: #FFF;
  --topbar-color-primary: var(--aa-global-color-secondary);
  --topbar-color-secondary: var(--aa-global-color-primary);
  --topbar-burger-bg-color: transparent;
  --sidebar-color-primary: var(--aa-global-color-primary);
  --sidebar-color-secondary: transparent;
  --float-pane-color-primary: #282828;
  --float-pane-color-secondary: #282828;
  --sidebar-tabs-color-primary: rgba(0,0,0,0.05);
  --layout-center-color-primary: var(--aa-global-color-secondary);
  --breadcrumb-color-primary: transparent;
  --lesson-container-color-primary: transparent;
  --lesson-info-color-primary: #fad5d52e;
  --form-fields-color: #FFF;
  --highlight-color-primary: #335477;
  --login-bg-image: url("https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1035&q=80");
  /* *******************
  TYPOGRAPHY
  ******************** */
  --font-scale-ratio: 1;
  --line-height-ratio: 1;
  --global-font-size: calc(1.2rem * var(--font-scale-ratio));
  --global-line-height: calc(1.2em * var(--line-height-ratio));
  --global-font-primary-family: "Roboto", sans-serif;
  --global-font-primary-color: #000;
  --global-font-primary-weight: 400;
  --global-font-secondary-family: var(----global-font-primary-family);
  --global-font-secondary-color: var(--global-font-primary-color);
  --global-font-secondary-weight: 900;
  --global-font-text-family: var(--global-font-primary-family);
  --global-font-text-color: var(--global-font-secondary-color);
  --global-font-text-weight: 500;
  --global-font-accent-family: "Roboto";
  --global-font-accent-color: var(--global-font-secondary-color);
  --global-font-accent-weight: 500;
  /* *******************
  LINKS
  ******************** */
  --global-links-color-primary: #f68812;
  --global-links-hover-color-primary: #c1c521;
  --global-links-color-secondary: #000;
  --global-links-hover-color-secondary: #9198d3;
  --topbar-links-primary-family: var(--global-font-primary-family);
  --topbar-links-primary-color: #000;
  --topbar-links-primary-weight: var(--global-font-primary-weight);
  --topbar-links-hover-color-primary: #9198d3;
  --topbar-links-color-secondary: #6C6C6C;
  --topbar-burger-color: var(--topbar-links-primary-color);
  --topbar-burger-hover-color: var(--topbar-links-hover-color-primary);
  --topbar-links-size: calc(1.1rem * var(--font-scale-ratio));
  --topbar-logo-family: var(--global-font-secondary-family);
  --topbar-logo-color: var(--topbar-links-primary-color);
  --topbar-logo-weight: var(--topbar-links-primary-weight);
  --topbar-logo-transform: uppercase;
  --sidebar-text-color-primary: var(--global-font-primary-color);
  --sidebar-links-color-primary: var(--sidebar-text-color-primary);
  --sidebar-links-hover-color-primary: #7187dd;
  --sidebar-links-selected-color-primary: #7187dd;
  --sidebar-links-icon-color-primary: var(--sidebar-links-color-primary);
  --sidebar-font-size: calc(1.4rem * var(--font-scale-ratio));
  --lesson-info-text-color-primary: #333;
  --content-font-size: calc(1.7rem * var(--font-scale-ratio));
  --content-line-height: calc(1.7em * var(--line-height-ratio));
  /* DO NOT MODIFY */
  --topbar-padding-vertical: 10px;
  --topbar-height:46;
  --topbar-height-px: calc(var(--topbar-height) * 1px);
  --topbar-height-calc: calc(var(--topbar-height-px) + (var(--topbar-padding-vertical) * 2));
  --topbar-bottom-offset: 0px;
  --topbar-links-right-offset: 0px;
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

RESET - Strip design choices, back to minimalist

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_reset.scss
*/
/*
**************************************************************************

MODIFY BOX SHADOWS

**************************************************************************
*/
/*
==================================================
GENERAL
==================================================
*/
.progress-bar,
.course-progress-footer .progress,
.lesson-container,
.signin .form-holder,
.signin .signin-options,
.signin input[type=submit],
.course-item-body:after,
.lesson-card,
.lesson-card.completed,
.sidebar .tab-content,
.sidebar .file-list li ul li.selected,
.sidebar li a .draft-badge,
.sidebar li.folder > a:hover .draft-badge,
.bookmarked-outer,
.float-pane {
  box-shadow: 0 0 20px hsla(0deg, 0%, 0%, 0.05);
}

.lesson-container,
.course, .bundle {
  box-shadow: none;
}

/*
**************************************************************************

REMOVE ANIMATIONS

**************************************************************************
*/
/*
==============================================
SIDEBAR
==============================================
*/
/* Selected Course */
.sidebar .file-list li.project-link.selected {
  animation: none;
}

/*
**************************************************************************

REMOVE ROUNDED CORNERS

**************************************************************************
*/
/*
==============================================
GENERAL
==============================================
*/
/* Dropdown menu */
.login .dropdown-menu,
.lesson-card,
.lesson-container,
.alert,
.signin,
.signin .form-holder,
.signin .signin-options {
  border-radius: 0;
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

RESET - RESET TO MINIMALIST STYLES

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_reset-more.scss
*/
/* *******************
*   Remove
*/
.dropdown-menu .divider {
  display: none;
}

/* *******************
*   Box Shadows
*/
.btn,
.submit-btn.btn,
.btn.course-btn,
input, textarea,
.sidebar .tab-content,
.sidebar li a .draft-badge,
.float-pane,
.bookmarked-outer,
.sidebar .file-list li ul li.selected,
.course, .bundle,
.course-item,
.lesson-card,
.lesson-container,
.card-edit-link,
.new-course-btn,
.chart-holder,
.launch-checklist,
.activity-feed,
.admin-link-row,
.admin-link-row .link-label,
.kb-link {
  box-shadow: none;
}

/* *******************
*   Text shadows
*/
.topbar h1 a,
.ui-layout-west .start-text,
.ui-mobile-sidebar .start-text,
.notes-holder .bookmarked-card {
  text-shadow: none;
}

/* *******************
*   Other Shadows
*/
.sidebar .file-list li.project-link.selected {
  animation: none;
}

.activity-feed {
  padding: 0;
}

/* *******************
*   MAIN VIEW
*/
#courseViews .dropdown-menu,
.file-list .panel-body,
.search-field-holder .search,
input, button, select, textarea,
#lessonOptions .dropdown-menu .list-inline,
ul.file-list.outline-list li,
.course-navigation,
.course-navigation a,
.mentor-tabs, .photo-tabs,
.mentor-tabs.nav-tabs > li.active > a,
.mentor-tabs.nav-tabs > li.active > a:hover,
.mentor-tabs.nav-tabs > li.active > a:focus,
.photo-tabs.nav-tabs > li.active > a,
.photo-tabs.nav-tabs > li.active > a:hover,
.photo-tabs.nav-tabs > li.active > a:focus {
  border: none;
}

/*
++++++++++++++++++++++++++++++++++

HEIGHTS LIGHT THEME

++++++++++++++++++++++++++++++++++
*/
/* Do not use all customization from _index.scss (parts, pages) yet. Leave it for later.*/
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

HEIGHTS LIGHT THEME - CUSTOM CSS

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
:root {
  /*
  * ---------------------
  * HELPERS
  * ---------------------
  */
  --unit-min: 0;
  --unit-xxs: .04;
  --unit-xs: .1;
  --unit-s: .35;
  --unit-m: .5;
  --unit-l: .65;
  --unit-xl: .9;
  --unit-xxl: .96;
  --unit-max: 2;
  --perc-min: --unit-min;
  --perc-xxs: calc(var(--unit-xxs) * var(--u, 100%));
  --perc-xs: calc(var(--unit-xs) * var(--u, 100%));
  --perc-s: calc(var(--unit-s) * var(--u, 100%));
  --perc-m: calc(var(--unit-m) * var(--u, 100%));
  --perc-l: calc(var(--unit-l) * var(--u, 100%));
  --perc-xl: calc(var(--unit-xl) * var(--u, 100%));
  --perc-xxl: calc(var(--unit-xxl) * var(--u, 100%));
  --perc-max: calc(var(--unit-max) * var(--u, 100%));
  /* ---------------------------------------------------------------------------
  * Custom Variables
  * ---------------------------------------------------------------------------
  */
  /*
  * ---------------------
  * PRIMARY COLOR (text, shades...)
  * ---------------------
  */
  /* ======================
  * User control
  * ======================
  */
  --primary-h: 200;
  --primary-s: var(--perc-s);
  --primary-l: var(--perc-m);
  --primary-color-h-factor: 1;
  --primary-color-s-factor: 1;
  --primary-color-l-factor: 2;
  /* ======================
  * End User control
  * ======================
  */
  --primary-hsl: var(--primary-h), var(--primary-s), calc(var(--primary-l) * var(--primary-color-l-factor));
  --primary-color: hsl(var(--primary-hsl));
  --primary-color-min: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-max)) );
  --primary-color-xxs: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-xxl)) );
  --primary-color-xs: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-xl)) );
  --primary-color-s: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-l)) );
  --primary-color-m: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-m)) );
  --primary-color-l: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-s)) );
  --primary-color-xl: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-xs)) );
  --primary-color-xxl: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-xxs)) );
  --primary-color-max: hsl(calc(var(--primary-h) * var(--primary-color-h-factor)), calc(var(--primary-s) * var(--primary-color-s-factor)), calc(var(--primary-l) * var(--primary-color-l-factor) * var(--unit-min)) );
  /* ======================
  * User control
  * ======================
  */
  --text-h: 145;
  --text-s: var(--perc-s);
  --text-l: var(--perc-m);
  --text-lightness: -30%;
  /* ======================
  * end User control
  * ======================
  */
  --text-color-bright: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--text-lightness) + 30%));
  --text-color: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--text-lightness)));
  --text-color-dark: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--text-lightness) - 30%));
  /* ---------------------------------------------------------------------------
  * Variables below this line are provided by Heights Platform
  * ---------------------------------------------------------------------------
  */
  /*
  * ---------------------
  * MAIN (links...)
  * ---------------------
  */
  /* ======================
  * User control
  * ======================
  */
  --main-h: 145;
  --main-s: 69%;
  --main-l: 41%;
  /* ======================
  * End User control
  * ======================
  */
  /*--main-hsl: var(--main-h), var(--main-s), var(--main-l);
  --main-color: hsl(var(--main-hsl));
  --main-color-dark: hsl(var(--main-h), var(--main-s), calc(var(--main-l) - 10%));
  --main-color-darker: hsl(var(--main-h), var(--main-s), calc(var(--main-l) - 20%));
  --main-color-bright: hsl(var(--main-h), var(--main-s), calc(var(--main-l) + 21%));
  */
  /*
  * ---------------------
  * ACCENT (buttons)
  * ---------------------
  */
  /* ======================
  * User control
  * ======================
  */
  --accent-h: 220;
  --accent-s: 80%;
  --accent-l: 10%;
  --links-h: 220;
  --links-s: var(--perc-m);
  --links-l: var(--perc-m);
  --links-lightness: 50%;
  --links-color-bright: hsl(var(--links-h), var(--links-s), calc(var(--links-l) + var(--links-lightness) + 30%));
  --links-color: hsl(var(--links-h), var(--links-s), calc(var(--links-l) + var(--links-lightness)));
  --links-color-dark: hsl(var(--links-h), var(--links-s), calc(var(--links-l) + var(--links-lightness) - 30%));
  /* ======================
  * End User control
  * ======================
  */
  /*
  --accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --accent-color: hsl(var(--accent-hsl));
  --accent-color-dark: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 10%));
  --accent-color-darker: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%));
  */
  /*
  * ---------------------
  * TOPBAR
  * ---------------------
  */
  /* ======================
  * User control
  * ======================
  */
  --topbar-h: 200;
  --topbar-s: 25%;
  --topbar-l: 100%;
  --topbar-text-lightness: -40%;
  /* ======================
  * End User control
  * ======================
  */
  --topbar-secondary-h: var(--topbar-h);
  --topbar-secondary-s: var(--topbar-s);
  --topbar-secondary-l: var(--topbar-l) + 10%;
  --topbar-secondary-color: hsl(var(--topbar-secondary-h), var(--topbar-secondary-s), calc(var(--topbar-secondary-l) + 5%));
  --topbar-secondary-color-bright: hsl(var(--topbar-secondary-h), var(--topbar-secondary-s), calc(var(--topbar-secondary-l) + 50%));
  --topbar-secondary-color-dark: hsl(var(--topbar-secondary-h), var(--topbar-secondary-s), calc(var(--topbar-secondary-l) - 50%));
  /*
  --topbar-color: hsl(var(--topbar-h), var(--topbar-s), var(--topbar-l));
  */
  --topbar-text-color: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--topbar-text-lightness)));
  --topbar-text-color-bright: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--topbar-text-lightness) + 30%));
  --topbar-text-color-dark: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--topbar-text-lightness) - 30%));
  --topbar-logo-color: var(--topbar-text-color-bright);
  --topbar-text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  --topbar-icon-color: var(--topbar-text-color);
  --topbar-icon-hover-color: var(--topbar-text-color);
  --topbar-icon-text-shadow: var(--topbar-text-color);
  /*
  * ---------------------
  * SIDEBAR
  * ---------------------
  */
  /* ======================
  * User control
  * ======================
  */
  --sidebar-text-lightness: -50%;
  /* ======================
  * End User control
  * ======================
  */
  --sidebar-color-bright: var(--primary-color-s);
  --sidebar-color: var(--primary-color-m);
  --sidebar-color-dark: var(--primary-color-l);
  --sidebar-text-color-bright: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--sidebar-text-lightness) + 30%));
  --sidebar-text-color: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--sidebar-text-lightness)));
  --sidebar-text-color-dark: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + var(--sidebar-text-lightness) - 30%));
  /*
  * ---------------------
  * MAIN CONTENT
  * ---------------------
  */
  --center-bg: hsl(var(--main-h), 12%, 92%);
}

/* *******************
*   MAIN
*/
/* *******************
*   MAIN
*/
#lessonOptions .dropdown-menu .list-inline {
  padding-top: 0;
  padding-bottom: 0;
}

#lessonOptions .dropdown-menu li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.lesson-item {
  border-radius: 0;
}

/* *******************
*   SIDEBAR
*/
.sidebar .file-list li.project-link.selected a {
  color: var(--sidebar-text-color);
  font-weight: 900;
}

.admin-link-row .link-label {
  text-align: center;
  width: 86%;
  margin: 6px auto;
  border-radius: 4px;
}

.navbar {
  display: none;
}

.main-content {
  margin-top: 0;
  padding-top: 50px;
}

.main-content .buy-row,
.main-content .product-price {
  background-color: transparent;
  color: var(--text-color-dark);
}

/*
:root {
  // * *******************
  // COLORS
  // ********************
  // GLOBAL
  --aa-global-color-primary: #f5f5f5;
  --aa-global-color-secondary: #fff;


  // LOGIN PAGE
  // --login-bg-image: url('');

  // *******************
  // LINKS
  // ********************
  // Navigation
  --topbar-links-primary-color: #333;
  --topbar-links-hover-color-primary: #000;
  // Burger
  --topbar-burger-hover-color: #000;

  // SIDEBAR

  // MAIN
  --lesson-info-text-color-primary: #9b9b9b;

  // HIGHLIGHT COLOR (.buy-row, etc...)
  --highlight-color-primary : #2bacaa;
}
*/
/* Quickly switch betwen themes and generate code to test in Heights */